@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}


.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  /* Set the desired font weight here */
  font-style: normal;
}


/* CSS */
.error-feedback {
  color: red;
}

.price {
  color: #d52220;
}

.cursor-pointer {
  cursor: pointer;
}


.compare-price {
  text-decoration: line-through;
}

.main-hover {
  cursor: pointer;
}

.main-hover:hover {
  color: var(--main-color);
  text-decoration: none;
}

a.main-hover {
  color: #13131a;
  text-decoration: none;
}

.active-bottom {
  border-bottom: 2px solid #000;
}

.active-bottom:hover {
  border-color: var(--main-color);
}

/* Card */

.card-container {
  position: relative;
  overflow: hidden;
}

.card {
  position: relative;
  transition: transform 0.2s;
  overflow: hidden;
  cursor: pointer;
}

.card:hover img.card-img-top {
  transform: scale(1.1);
}

.card-overlay {
  text-decoration: none;
  position: absolute;
  top: 2%;
  right: -25%;
  transition: right 0.4s;
  z-index: 999;
}

.card:hover .card-overlay {
  top: 2%;
  right: 2%;
}

.card-overlay:hover i.fa-cart-plus {
  color: blue;
}

.card-overlay i {
  padding: 5px;
  border-radius: 50%;
  /* background-color: #fff; */
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
}

#dv {
  min-height: 500px;
}